<div class="mt-10">
  <ng-container *ngIf="roomDetail; else notFoundGroup">
    <h1 class="mb-4 flex justify-between border rounded-md p-4 shadow-sm">
      <div class="flex flex-col">
        <span class="text-2xl font-bold"
          >Welcome to Group {{ roomDetail?.roomName }}</span
        >
        <span>{{ roomDetail?.roomDescription }}</span>
        <div
          class="flex items-center gap-1 text-lg px-3 py-1 bg-slate-100 rounded-sm"
        >
          <mat-icon class="text-yellow-500">star</mat-icon
          >{{ roomDetail?.owner.name }}
        </div>
      </div>
      <div class="flex flex-col justify-between">
        <button
          (click)="createTask()"
          *ngIf="roomDetail?.owner.id === user?.sub"
          class="bg-blue-500 border text-white text-sm p-2 rounded-md font-bold hover:bg-blue-600"
        >
          Add Task
        </button>
        <a
          [routerLink]="['/room', roomId, 'members']"
          *ngIf="roomDetail?.owner.id === user?.sub"
          class="bg-green-500 border text-white text-sm p-2 rounded-md font-bold hover:bg-green-600"
        >
          Members
        </a>
      </div>
    </h1>

    <ng-container *ngIf="roomTaskList.length; else noTasks">
      <div class="flex flex-col gap-2">
        <div
          *ngFor="let task of roomTaskList; let roomNum = index"
          class="border rounded-md px-5 py-2 shadow flex justify-between relative"
        >
          <mat-icon
            class="text-lg cursor-pointer absolute top-0 left-1"
            (click)="editTask(task)"
          >
            settings
          </mat-icon>
          <div class="flex items-center gap-5">
            <span
              class="text-lg font-bold w-7 h-7 flex items-center justify-center rounded-full bg-blue-300"
              >{{ roomNum + 1 }}</span
            >
            <div class="flex flex-col">
              <h1 class="text-xl">
                {{ task.title }}
              </h1>
              <p class="text-sm">{{ task.description }}</p>
              <p class="flex items-center" *ngIf="task.user">
                <mat-icon class="text-xl text-blue-500">person</mat-icon>
                <span>{{ task.user.name }}</span>
              </p>
            </div>
          </div>
          <div class="flex flex-col justify-between items-end">
            <p class="flex items-center">
              <mat-icon class="text-xl text-blue-500">calendar_today</mat-icon>
              <span>
                {{ task.dueDate | date : "dd/MM/yyyy" }}
              </span>
            </p>
            <div class="flex items-center gap-2">
              <ng-container
                *ngIf="
                  roomDetail?.owner.id === user?.sub ||
                    task.user.id === user?.sub;
                  else notChangeStatus
                "
              >
                <select
                  [(ngModel)]="task.isComplete"
                  name="cars"
                  id="cars"
                  class="border rounded-sm p-1 bg-slate-100 text-sm"
                >
                  <option value="false">Not complete</option>
                  <option value="true">Completed</option>
                </select>
              </ng-container>
              <ng-template #notChangeStatus>
                <p class="border rounded-sm p-1 bg-slate-100 text-sm">
                  {{ task.isComplete ? "Completed" : "Not complete" }}
                </p>
              </ng-template>

              <button
                (click)="updateStatus(task)"
                *ngIf="
                  roomDetail?.owner.id === user?.sub ||
                  task.user.id === user?.sub
                "
                class="bg-blue-500 border text-white text-sm p-1 px-2 rounded-md hover:bg-blue-600"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<ng-template #notFoundGroup>
  <!-- Component or content to render if groupId is null or not available -->
  <h1 class="text-red-500 text-center text-lg">Not found group</h1>
  <a
    [routerLink]="['/', 'home']"
    routerLinkActive="active"
    class="text-blue-500 hover:underline cursor-pointer block"
    >Home</a
  >
</ng-template>

<ng-template #noTasks>
  <!-- Component or content to render if groupId is null or not available -->
  <h1 class="text-red-500 text-center text-lg">No tasks</h1>
</ng-template>
